In [5]:
x=int(input("삼각형의 높이를 입력해주세요"))
for i in range(x+1):
    print(" "*(x+1-i) + "*"*i)

삼각형의 높이를 입력해주세요5

     *
    **
   ***
  ****
 *****

In [32]:
print("      <3월달력>")
print ("일 월 화 수 목 금 토 ")
day=0
while day<32:
    if day==0:
        print(" ", end=" ")
    elif day%7==0:
        print(end="\n")
        print(day, end=" ")
    else:
        print(day,end=' ' )
    day+=1

      <3월달력>
일 월 화 수 목 금 토
  1 2 3 4 5 6
7 8 9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
print("<3월달력>")
print (" 일 월 화 수 목 금 토 ")

In [8]:
print("\t\t<3월 달력>\t\t")
print("일\t월\t화\t수\t목\t금\t토\t")
day = 1
while day<32:
    if(day == 1):
        print(f"\t{day}", end='\t')
        day += 1
    print(f"{day}", end='\t')
    day+=1
    if(day%7==0):
        print()

		<3월 달력>
일	월	화	수	목	금	토
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30	31